{% extends "base.html" %}
{% block content %}

<h2>Munro details update</h2>

<!-- <form action="/munros/{{ munro.id }}" method="POST">
    <div>
        <label for="munro_name">Munro name:</label>
        <input type="text" id="munro_name" name="munro_name" value="{{ munro.name }}">
    </div>
    <div>
        <label for="region">Region:</label>
        <select name="region_id" id="region">
            {% for region in regions %}
            <option value="{{ region.id }}">
                {{ region.name }}
            </option>
            {% endfor %}
        </select> 
    </div>
    <div>
        <label for="altitude">Altitude:</label>
        <input type="number" id="altitude" name="altitude" value="{{ munro.altitude }}">
        <input type="submit" value="Update">
    </div>
</form> -->

{% endblock %}