{% extends "base.html" %}
{% block content %}

<h2>Add a New Munro</h2>

<form action="/munros" method="POST">
    <div>
        <label for="munro">Munro:</label>
        <input type="text" id="name" name="name">

        <label for="region">Region:</label>
        <select name="region_id" id="region">
            {% for region in regions %}
            <option value="{{ region.id }}">
                {{ region.name }}
            </option>
            {% endfor %}
        </select> 

        <label for="altitude">Altitude:</label>
        <input type="number" id="altitude" name="altitude">
        <input type="submit">
    </div>
</form>

{% endblock %}